.App {
  text-align: left;
}
.App-login{
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71WpzvhVhrL.jpg");
  background-position: center;
  height: 100vh;
}
.App-gamepage{
  background-image: url("https://assets1.ignimgs.com/thumbs/userUploaded/2020/9/1/kingdomsthumb-1598969616936.jpg?width=1280");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

}
.App-Wilderness{
  background-image: url("C:/Users/sekhp/Documents/GameProject/ChooseYourPath/gameui/src/img/wilderness.jpg");
  background-position: center;
  height: 125vh;
  align-items:flex-start;

}
.App-village{
  background-image: url("C:/Users/sekhp/Documents/GameProject/ChooseYourPath/gameui/src/img/image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
.App-towergate{
  background-image: url("https://1.bp.blogspot.com/-FRXwyp8TFSs/TYj3q2xDzjI/AAAAAAAAAiY/x-YjzkKtI9U/s1600/Durlag.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
  

}
.App-village-text{
  background-color: crimson;
}
  




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
