.App {
  text-align: center;
}

.App-link:hover{
  text-decoration: none;
  background-color: rgb(92, 91, 100);
  text-shadow: sandybrown;
}

.App-section-1{
background-color: #95a5a6;
padding: 85px;
}
.App-section-title{
  text-align: center;
  margin-bottom: 30px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  /* background-color:#6495ED; */
  background-image: url("/Users/shreeshill/Documents/class project/Bitbucket/tic-tac-toe/appointment/ui/src/component/images/background.jpeg");
  min-height: 100vh;
  display: flex-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
