.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-section-1{
  padding: 3%;
  background-color:#130f40;
  justify-content: center;
}
.App-login{
  padding: 3%;
  background-color: #181938;
  justify-content: center;
  border-radius: 0.5rem;
}

.App-section-2{
  padding: 10%;
  padding-top: 4%;
  min-height: 75vh;
  text-decoration: transparent;
  text-align: justify;
  color: darkblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/Users/shreeshill/Documents/projects/doctor-checkin/ui/src/component/image/doctorimg.jpeg");
  background-attachment: fixed;
}
.App-check-in{
  padding-top: 0%;
  padding: 5%;
  background-color: #30336b;
  border-radius: 0.5rem;
}

.App-check-in-2{
  /* background-color: #222f3e; */
  padding: 5%;
  align-items: center;
  margin: auto;
  border-radius: 0.5rem;
}


.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
